<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <div id="app">
        <!-- 注意：v-model只能作用与表单元素  -->
        <input type="text" v-model="val">
        <button v-on:click="submit">按钮</button>
    </div>
    <script src="node_modules/vue/dist/vue.js"></script>
    <script>
        var vm = new Vue({
            el: '#app',
            data: {
                val: 123456
            },
            methods: {

                // 点击的时候获取表单的值，转为ajax发送
                submit: function() {
                    console.log(this.val);
                }
            }
        });
    </script>
</body>
</html>