<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <script src="node_modules/vue/dist/vue.js"></script>
    <div id="app">
        <!-- 数据父传子，1、通过自定义属性的方式把父的数据定义在子组件根元素上   -->
        <vue-nav :content="content"></vue-nav>
        <vue-header :msg="content"></vue-header>
    </div>
    <script>
        var data = {  
            content: '可耻 耻辱 老家居然有苏宁！'
        };
        var vm = new Vue({
            el: '#app',
            data: data,
            components: {
                'vue-nav': {
                    template: '<p>{{ content }}</p>',
                    // 数据父传子，2、在子组件中通过props定义要获取的属性
                    props: ['content']
                },
                'vue-header': {
                    template: '<p>{{ msg }}</p>',
                    props: ['msg']
                }
            }
        });
    </script>
</body>
</html>