<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <script src="node_modules/vue/dist/vue.js"></script>
    <div id="app">
        <vue-tab></vue-tab>
        <vue-tab></vue-tab>
        <vue-nav></vue-nav>
        <vue-nav></vue-nav>
    </div>
    <script>

        // 定义全局组件，在任何实例所关联的视图中都可以使用
        Vue.component('vue-tab', {
            template: '<p>{{ content }}</p>',
            data: function() {
                return { content: 'tab栏' };
            }
        });

        var data = {};
        var vm = new Vue({
            el: '#app',
            data: data,
            components: {
                'vue-nav': {
                    template: '<p>{{ content }}</p>',
                    data: function() {
                        return { content: 'nav导航' };
                    }
                }
            }
        });
    </script>
</body>
</html>