<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <style>
        [v-cloak] {
            display: none;
        }
    </style>
</head>
<body>
    <!-- 1/这是MVVM中的v  -->
    <div id="app" v-cloak>
        <h2 >{{ title }}</h2>
        <p>{{ msg }}</p>
    </div>
    <script src="node_modules/vue/dist/vue.js"></script>
    <script>
        // 2/这是MVVM中vm
        var vm = new Vue({
            el: '#app',
            // 3/这是MVVM中的m
            data: {
                title: '震惊',
                msg: '男人听了会<strong>沉默</strong>，女人听了会<strong>流泪</strong>'
            }
        });
    </script>
</body>
</html>